/*STYLE für PROGRESSBAR beim Upload der Seite*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif; 
  background-color: #222;
}

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: rgba(0,0,0,1);
  z-index : 2; 
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align:center;
  color:#fff;
  line-height: 30px;
  font-size : 20px;
}

.loader,
.percentage{
  height: 30px;
  max-width: 500px; 
  border: 2px solid #7A19BB;
  border-radius: 20px;
  font-weight: 300;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin : auto; 
}
.loader:after,
.percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: repeating-linear-gradient(
  45deg, 
     #696969, 
    #000000 10px, 
    #CD2EBC 10px,
    #7A19BB 20px
  ); /* Stripes Background Gradient */
  box-shadow: 0px 0px 14px 1px   #000000; 
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 5s infinite;
  overflow: hidden;
}

.glow {
  width: 0%;
  height: 0%;
  border-radius: 20px;
  
  position: absolute;
  bottom: -5px;
  animation: animation 5s infinite;
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}

.wrap { 
  background-image: url("imagesNizzaOldTown.jpg");
  background-position: left top; 
  background-repeat: no-repeat; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  width: 100%; 
  height: 100%; 
  position: relative;  
  z-index : 1; 
}

